.spinner {
  --size: 2rem;
  --color: dodgerblue;
  width: var(--size);
  height: var(--size);
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border-width: calc(var(--size) / 5);
    border-color: transparent var(--color) var(--color) var(--color);
    border-style: solid;
  }
  &::after {
    transform: rotate(50deg);
  }
  animation: rotate 1s linear infinite;

  @media screen and (min-width: 600px) {
    --size: 3rem;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
