.header {
  background: #333;
  color: white;
  padding: 1em 0;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    transition: transform 200ms;
    &:hover {
      transform: rotate(90deg);
    }
  }
  &__score {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
